pandas==0.24.2
flask==1.1.1
numpy>=1.16.6
scikit_learn==0.22.2
gunicorn==20.0.4
uvicorn==0.13.1
sklearn>=0.0
seaborn==0.9.0
streamlit
scipy>=0.15.1
matplotlib==3.1.0
pickleshare==0.7.5
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
jsonify==0.5




